version: 1
environment: dev
secrets:
  POSTGRES_PASSWORD: ENC[AES256_GCM,data:replace-me,iv:replace-me,tag:replace-me,type:str]
  MINIO_ROOT_PASSWORD: ENC[AES256_GCM,data:replace-me,iv:replace-me,tag:replace-me,type:str]
  GRAFANA_ADMIN_PASSWORD: ENC[AES256_GCM,data:replace-me,iv:replace-me,tag:replace-me,type:str]
  CLERK_SECRET_KEY: ENC[AES256_GCM,data:replace-me,iv:replace-me,tag:replace-me,type:str]
  CLAUDE_API_KEY: ENC[AES256_GCM,data:replace-me,iv:replace-me,tag:replace-me,type:str]
sops:
  age:
    - recipient: age1replace-with-your-team-public-key
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        replace-with-sops-output
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-04-20T00:00:00Z"
  mac: ENC[AES256_GCM,data:replace-me,iv:replace-me,tag:replace-me,type:str]
  version: 3.9.0

